<button class="mt-20 ml-20" mat-raised-button (click)="back()">Back</button>
<div class="fill-test-container" *ngIf="currentQuestion && !testFinishedMessage">
    <h1>
       {{test.title}}
    </h1>
    <hr>
    {{currentQuestion.text}}
    <div *ngFor="let answer of currentQuestion.answers; let j = index" class="test-question-answer">
        <mat-checkbox color="primary" (change)="setAnswer($event, answer)">{{answer.text}}</mat-checkbox>
    </div>
    <br>
    <div>
        <button class="confirm-test" mat-raised-button color="primary" (click)="submitAnswer()">
            Finish
        </button>
    </div>
</div>
<div class="fill-test-container" *ngIf="testFinishedMessage">
    <p> Test is finished. Thank you!</p>
</div>