<button class="mt-20 ml-20" mat-raised-button (click)="back()">Back</button>
<div class="domain-container">
    <mat-card class="domain-content">
        <mat-card-title>{{domain.title}}</mat-card-title>
        <mat-card-content class="mt-20">
            <p>Status - {{domain.status.description}}</p>
            <p>Teacher - {{domain.user.firstName}} {{domain.user.lastName}}</p>
            <h2>Create Knowledge Space: <a class="mt-20 mb-20" href="/domain/graph/{{domain.id}}">Editor</a></h2>
            <div class="create-test-button">
                <a mat-raised-button color="primary" href="/test/create">Create Test</a>
            </div>
            <div class="test-container mt-20">
                <mat-card *ngFor="let test of domain.tests" class="test-content">
                    <mat-card-title><a href="/test/{{test.id}}/details">{{test.title}}</a></mat-card-title>
                    <mat-card-subtitle>{{test.startDate | date}} - {{test.endDate | date}}</mat-card-subtitle>
                    <mat-card-content class="test-body-content">
                        <a href="/ks/{{test.id}}">Real Knowledge Space</a>
                        <a class="mt-10" href="/compare-graphs/{{test.id}}">Compared Teacher's and Real Knowledge Space</a>
                        <a class="mt-10" href="" (click)="export(test.id)">Export in IMS QTI</a>
                    </mat-card-content>
                </mat-card>
            </div>
        </mat-card-content>
    </mat-card>
</div>

