<button class="mt-20 ml-20" mat-raised-button (click)="back()">Back</button>
<div class="create-test-container">
    <h1 class="error" *ngIf="testErrorMessage"> Please first create at least 5 problems in Knowledge Space Editor! </h1>
    <h1>
        New Test
    </h1>
    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input type="text" matInput [(ngModel)]="test.title">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field appearance="fill">
        <mat-label>Domain</mat-label>
        <mat-select [(ngModel)]="test.domain">
            <mat-option *ngFor="let domain of domains" [value]="domain" (click)="loadProblems(domain)" name="domain" ngDefaultControl>
                {{domain.title}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field appearance="fill">
        <mat-label>Start date</mat-label>
        <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="test.startDate">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field appearance="fill">
        <mat-label>End date</mat-label>
        <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="test.endDate">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
    <hr>
    <button mat-icon-button color="primary" (click)="addQuestion()">
        <mat-icon>add</mat-icon>
    </button>
    <div *ngFor="let question of test.questions; let i = index" class="test-question">
        <mat-form-field appearance="fill">
            <mat-label>Question #{{i + 1}}</mat-label>
            <input type="text" matInput [(ngModel)]="question.text">
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;
        <mat-form-field appearance="fill">
            <mat-label>Problem</mat-label>
            <mat-select [(ngModel)]="question.problem">
                <mat-option *ngFor="let problem of problems; let i = index" [value]="problem" name="problem" ngDefaultControl>
                    {{problem.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        &nbsp;&nbsp;&nbsp;
        <button mat-icon-button color="primary" (click)="removeQuestion(i)">
            <mat-icon>delete</mat-icon>
        </button>
        <div>
            <button mat-icon-button color="primary" (click)="addAnswer(question)">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div *ngFor="let answer of question.answers; let j = index" class="test-question-answer">
            <mat-form-field appearance="fill">
                <mat-label>Answer #{{j + 1}}</mat-label>
                <input type="text" matInput [(ngModel)]="answer.text">
            </mat-form-field>
            &nbsp;&nbsp;&nbsp;
            <mat-checkbox color="primary" [(ngModel)]="answer.correct">is correct?</mat-checkbox>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button mat-icon-button color="primary" (click)="removeAnswer(question, j)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div>
        <button mat-raised-button color="primary" (click)="createTest()">
            Create Test
        </button>
    </div>
</div>