<button class="ml-20" mat-raised-button (click)="back()">Back</button>
<p class="center" *ngIf="graphSimilarityPercent">Similarity: {{graphSimilarityPercent | number:'1.1-2'}} %</p>
<div class="editor-container">
      <div class="editor">
            <svg id="graphContainer"
            width="100%"
            height="100%"
            class="associations"
            #graphContainer>
            </svg>
      </div>
      <div class="input-container" *ngIf='(selectedNode != null) && editable'>
            <div class="form-group main mt-20">
                  Title: <input type="text" [(ngModel)]="selectedNode.title" (focus)="onFocus()" name="title"> <br> <br>
                  Credibility: <span>{{selectedNode.credibility}}</span> <br> <br>
                  Probability: <span>{{selectedNode.probability}}%</span> <br> <br>
                  Knowledge state: <span>{{selectedNode.knowledgeState}}</span><br>
                  <button class="mt-20" mat-raised-button (click)="confirm()">Confirm</button>
            </div>
      </div>
</div>


